<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let record of historyArray; let i = index"> 
      <ion-card-content>
        <ion-card-title>{{ record.foodName }}</ion-card-title>
        <br>
        <ion-img [src]="record.foodImage"></ion-img>
        <br>
           <div>
            <ion-card-subtitle>{{record.ingredientTitle}}</ion-card-subtitle>
            <br>
            <p *ngFor="let item of record.ingredientsArray">{{ item }}</p>
        </div>
        <br>
        <ion-card-subtitle>{{record.instructionTitle}}</ion-card-subtitle>
        <br>
          {{record.instructions}}
        </ion-card-content>
  </ion-item>
      <!--<ion-item *ngFor="let record of historyArray; let i = index">
      <ion-label>{{ record.enteredInput }} <ion-icon name="md-arrow-forward"></ion-icon> {{ record.foodName }}</ion-label>
    </ion-item>-->
  </ion-list>
</ion-content>

