<ion-header>
  <ion-toolbar>
    <ion-title>
      Food Meals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="inputFood">
    <ion-card-content>
      <ion-input [(ngModel)]="enteredInput" placeholder="Enter your food..."></ion-input>
      <ion-button (click)="btnClicked()" expand="block">Search</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="result">
    <ion-card-content>
      <ion-card-header>
      <ion-card-subtitle>Entered Food: {{enteredInput}}</ion-card-subtitle>
    </ion-card-header>
    <b>{{foodName}}</b><br>
    <br>
      <ion-img [src]="foodImage"></ion-img>
      <br>
      <div>
        <h3><b>{{ingredientsTitle}}</b></h3>
        <p *ngFor="let item of ingredientsArray">{{ item }}</p>
    </div>
      <h3><b>{{instructionTitle}}</b></h3>
      {{instructions}}
    </ion-card-content>
  </ion-card>

  
</ion-content>

