<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
      <ion-card-subtitle>Author: Anh Vu Pham</ion-card-subtitle>
      <ion-card-subtitle>Version: 1.0.1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This application was created for educational purposes and is not used for commercial purposes
    </ion-card-content>
  </ion-card>
</ion-content>
